<nav class="navbar">
<div class="logo-container">
      <%= image_tag("Logo50.png", class: "img-responsive") %>
    </div>
    <h1 class="logo">BUDGET PLAN PAL</h1>
  <ul class="menu">
    <li><a href="/categories" class="nav-cat">DASHBOARD</a></li>
    <li><a href="/transactions" class="nav-cat">CATEGORIES</a></li>
    <li><a href="/reports" class="nav-cat">ACCOUNT</a></li>
  </ul>
</nav>
