<div class="container">
    <div class="welcome-content ">
    <h1 class="text-1">WELCOME</h1>

    <h3 class="text-2">BUDGET PLAN PAL</h3>

    <%= image_tag("biggerlogo200.png", class: "img-responsive") %>

    <h4 class="text-3">WELCOME TO YOUR PERSONAL BUDGET PLANNING APP</h4>

    <h5 class="text-4">KEEP TRACK OF YOUR SPENDING AND BUDGETING</h5>

    <button class="btn btn-log">
    <%= link_to "SIGN IN", login_path %>
    </button>

    <button class="btn btn-reg">
    <%= link_to "REGISTER", register_path %>    </button>
    </div>
</div>
