.profile-container {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  background-color: rgb(52, 156, 235);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 12px rgb(76, 222, 255);
  border: rgb(112, 189, 251) solid 3px;
  color: white;
}

.transaction {
  width: 60%;
  height: 150px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 12px rgb(76, 222, 255);
  text-decoration: none;

  border: rgb(52, 156, 235) solid 1px;
  color: black;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.transaction-info {
  display: flex;  
  justify-content: space-between;
}

.category-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.category-div {
  width: 200px;
  text-align: left;
}

.amount-div {
  color: red;
  font-weight: bold;
  text-align: right;
}

.title {
  text-transform: capitalize;
}

.date {
  margin: 0;
  font-size: 16px;
  color: #999;
}

.actions {
  float: right;
  text-decoration: none;
}