<h1>All the categories</h1>

<div class="container">
<h2>This is categories page: <%= @categories.first.name %></h2>

<p>Please pick a category for your latest transaction:</p>
<%= form_with(scope: "category") do |c| %>
  <%= f.select :id, @categories.map { |c| c.name} %>
  <%= f.submit "Submit" %>
<% end %>

